* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid black;
}

.link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link a {
    background-color: #EEEEEE;
    padding: 10px 50px;
    text-decoration:none;
    color: #61677A;
}





